*{
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 22px;
    position: sticky;
    top: 0;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
    z-index: 1000;
    height: 12vh;
    background-color: white;
    
}


.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 220px;
    

}
.logo div{
    display: flex;
}
.logo i{
    font-size: larger;
}
.logo h2{
    font-size: large;
    color: #e60023;
    font-weight:750;

}
.logo p{
   
    padding:  13px 20px;
    background-color: white;
    border-radius: 20px;
    font-weight: 540;
    cursor: pointer;
}
.logo p:hover{
    background-color: #efefef;
}

.link{
    display: flex;
    width: 540px;
    justify-content: space-between;
}

.navLink a{
    text-decoration: none;
    color: black;
    font-weight: 540;
    font-size: 17px;

}
.navLink{
    display: flex;
    width: 300px;
    padding-top: 15px;
    justify-content: space-around;
}

.acc button{
    padding:  15px 13px;
    background-color: white;
    border-radius: 15px;
    font-weight: 550;
    font-size:16px;
    border: none;
    cursor: pointer;
}

#log{
    background-color: #e60023;
    color: white;

}
#sign{
    background-color: #e1e0e0;
}


/* Hero section */

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("Images/hero.jpg" ) no-repeat center center/cover;
}


.hero h1{
    font-size: 38px;
    font-weight: bolder;
    color: white;
    text-align: center;

}


.btn{
    display: flex;
    align-items: center;
    margin: 15px;
}

.btn button{
    width: 200px;
    height: 55px;
    border: none;
    padding: 10px ;
    background-color: #e60023;
    margin: 10px;
    text-align: center;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;

}


#signup{
    color: white;

}
#login{
    color: black;
    background-color: #edecec;
    width: 230px;
}

.gallary h1{
    font-size: 33px;
    font-weight: 700;
    text-align: center;
    margin: 20px;
    padding: 15px;
    letter-spacing: 1px;
    color: #e60023;

}
.pin img{
    
    width: 22vw;
    border-radius: 15px;
    break-inside: avoid;
    margin-bottom: 19px;
    transition: 0.3s;

}
.pin img:hover{
    transform: scale(1.03);
    cursor: pointer;
}

.gallaryC{
    column-count:4;
    column-gap: 15px;
    padding: 20px 40px;
}




.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;

}
.about h1{
    font-size: 45px;
    font-weight:700;
    margin: 12px;
}
.about pre{
    font-size: 20px;
}


.featureImg img{
    height: 550px;
    width: 520px;
    border-radius: 30px;
}
.feature{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    margin: 30px 40px;
}

.feature h1{
    font-size: 38px;
    font-weight:650;
    margin-bottom: 15px;
    
}
.featureData{
    padding-left: 30px;
}

.feature p{
    font-size: 18px;

}
.feature button{
    width: 96px;
    height: 50px;
    border: none;
    padding: 5px ;
    background-color: #e60023;
    text-align: center;
    font-size: 16px;
    margin-top: 25px;
    border-radius: 20px;
    cursor: pointer;
    color: white;
}
#seeExp{
    width: 150px;
}
#learn{
    width: 100px;
}

.colorM:hover{
    background-color: #af021c;
}
.reverse{
    flex-direction: row-reverse;
}



.account{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("Images/background.jpg") no-repeat center center/cover;
    height: 87vh;
}

.accD h1{
    color: white;
    font-weight: 600;
    font-size: 62px;
    width: 600px;
    margin-left: 50px;
    padding: 10px;
    padding-left: 30px;
    position: relative;
    top: 42%;

}

.accD{
    height: 80vh;

}
.accLogo{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items:flex-start;
}

 .up{
    height: 48px;
    width: 48px;
    border-radius: 12px;
    background-color: #9f0148;
    color: white;
    position: relative;
    right: 25px;
    bottom: 100px;
    align-items: center;
    display: flex;
    justify-content: center;

} 
.up i{
    font-size: 23px;
}

.up:hover{
    background-color: rgb(218, 215, 215);
    cursor: pointer;
}


footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    height: 70vh;

}
.fst,.snd,.trd,.fth{
    margin-top: 100px;
}
.fst{
    padding-right: 70px;
}
.fst h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
       margin-bottom: 230px;
       font-size: 36px;
       text-decoration: none;

}

.fst p{
    font-size: 12px;
}
footer h4{
   margin: 10px;
}
footer ul{
  list-style: none;


}

footer li{
       margin-top: 15px;
    /* padding: 30px; */
}

footer a{
    color: white;
  text-decoration: none;
   


}

footer a:hover{
    text-decoration: solid white underline;

}

/* form */

.formD{
    background-color:white;
    height: 650px;
    width: 470px;
    border-radius: 26px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 30px 20px;

    position: relative;
    z-index: 100;
    bottom: 575px;
    left: 700px;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.9);
    padding-left: 50px;
}

.formD h1{
    font-size: 25px;
    text-align: center;

}
.formD p{
    text-align: center;
    margin: 6px;
    margin-bottom: 20px;
}
input{
    display: block;
    height: 45px;
    border: none;
    border-radius: 12px;
    width: 260px;
    padding: 7px;
    font-size: 16px;
    margin: 8px;
    border:1px solid #ccc;
    outline: none;
    margin-bottom: 10px;
    margin-left: 70px;
}
input:focus{
    border:2px solid blue;
}

.formD label{
    margin: 3px;
    margin-left: 65px;
    padding: 3px;
    margin-top: 15px;
    display: block;
    justify-content: center;

    font-size: 14px;
}

.formD h6{
    font-size: 12px;
    font-weight: lighter;
    color: #8e8e8e;
    padding: 4px;
    padding-left: 70px;
}

.formD button{
    width: 240px;
    padding: 7px;
    font-size: 16px;
    height: 33px;
    background-color:#e60023;
    color: white;
    border: none;
    border-radius: 10px;
    margin-left: 80px;
}

#cont{
    margin-right: 40px;
    font-weight: bold;
}

.google{
    background-color: white;
    height: 45px;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    position: relative;
    left: 60px;
    margin: 10px;
    border:1.4px solid  #8e8e8e;
    color: #5a5a5a;
}


.formD h5{
    text-align: center;
    padding: 8px;
    margin: 4px;
    color: #676666;
    font-size: 13px;
    font-weight: lighter;
}

#pLast{
    color: #363636;
    font-size: 14px;
}
#pLast span{
    font-weight: bold;
}


.formD h2{
    background-color: #a19f9f;
    font-weight: 300;
    padding: 20px;
    width: 470px;
    border-bottom-left-radius:26px ;
        border-bottom-right-radius: 26px;
        text-align: center;
        font-size: 19px;
        position: relative;
        right: 15px;

}



